/* Time to style this Tic-Tac-Toe game! */
#container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-block {
    border: 2px solid black;
    text-align: center;
    padding-top: 20px;
    font-size: 75px;
}